.--exper {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.--experience {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.--expclient, .--expinfo {
    flex: 1;
    background-color: #1a1a1a; /* Fondo oscuro */
    padding: 20px;
    border-radius: 10px;
}

.--expclient h1 {
    color: #858587;
    font-size: 2em;
    margin-bottom: 10px;
}

.--expclient p, .--expinfo p {
    color: #858587;
    font-size: 1em;
    line-height: 1.6;
}

.--expinfo div a {
    display: inline-block;
    background-color: #ff6b6b; /* Color de fondo del botón */
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
}
.--expinfo div a {
    display: inline-block;
    background-color: #ff6b6b; /* Color de fondo del botón */
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
}
.--expinfo div a:hover {
    background-color: #ff4c4c; /* Color de fondo al pasar el ratón */
}
